body.game {
    .container {
        h1 {
            padding-top: 10px;
            font-size: 35px;
        }
    }

    .mission {
        display: block;
        position: relative;
        width: 100%;
        
        .title {
            display: block;
            font-size: 16px;
            font-family: 'PT Sans';
            text-transform: uppercase;
            text-align: center;
            color: #757575;
            margin-bottom: 20px;
            padding: 0 50px;

            span {
                display: block;
                border-bottom: 1px solid #ccc;
            }
        }
        
        .mission-card {
            display: block;
            position: relative;
            width: 100%;
            height: 100vh;
            transition: all 0.3s;
            padding: 0 35px;
        }
    }
}