// LAYOUT
body {
    background: #e9f4ff;
}

.app-wrapper {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 500px;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}

.moving-background {
    display: block;
    position: absolute;
    inset: 0;
    background-repeat: repeat;
    background-size: 100px;
    background-position: center;
    padding: 10px;
    overflow: auto;
    
    animation-name: backgroundslide;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    transition: background-image 0.5s;

    &[data-color="bleu-rose"] {
        background-image: url('../assets/pattern-bleu-rose.svg');
    }
    &[data-color="jaune-noir"] {
        background-image: url('../assets/pattern-jaune-noir.svg');
    }
    &[data-color="vert-rose"] {
        background-image: url('../assets/pattern-vert-rose.svg');
    }
}

@keyframes backgroundslide {
    0% { background-position-x: 0%; }
    100% { background-position-x: 100px; }
}

.container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 740px;
    background: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 6px 0px #bcbcbc; 
    box-shadow: 0px 0px 6px 0px #bcbcbc;

    h1 {
        position: relative;
        z-index: 2;
        font-family: 'Bitcount Prop Single';
        text-align: center;
        font-size: 65px;
        color: #47a5fe;
        padding-top: 20px;
        margin-bottom: 30px;

        span {
            &[data-letter="R"] {
                font-family: Henny Penny;
                color: #f75650;
                font-size: 1.2em;
                padding-right: 0.1em;
            }
        }

        @media (max-width: 480px) {
            font-size: 14vw;
        }
    }

    .johnnyseb {
        display: block;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        width: 100%;
        opacity: 0.4;

        @media (max-height: 780px) {
            width: 55%;
        }
        @media (max-height: 800px) and (min-width: 450px) {
            width: 60%;
        }
    }
}

// BUTTONS
.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 0 50px;
    
    .button,
    button {
        background-color: #0f83b7;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: 'PT Sans';
        font-size: 15px;
        font-weight: 700;
        margin: 0;
        padding: 13px 16px;
        text-align: center;
        text-transform: uppercase;
        transform: translateZ(0);
        transition: all 0.3s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
        
        &:after {
            background-clip: padding-box;
            background-color: #47a5fe;
            border: solid transparent;
            border-radius: 16px;
            border-width: 0 0 4px;
            bottom: -4px;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }
        
        &,
        &:focus {
            user-select: auto;
            outline: none;
        }
        
        &:active {
            border-width: 4px 0 0;
            background: none;
        }
    }
}