body.intro {
    .clown-face {
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        margin-bottom: 10vh;

        img {
            position: relative;
            display: inline-block;
            max-width: 100%;
            width: 100%;
        }
    }

    @media (max-height: 950px) {
        .clown-face {
            width: 85%;
        }
    }
    @media (max-height: 780px) {
        .clown-face {
            margin-bottom: 7vh;
        }
    }
    @media (max-height: 860px) and (min-width: 450px) {
        .clown-face {
            width: 72%;
        }
    }
}